<footer>
    <div class="container">
      <img alt="Luotettava Kumppani" src="assets/img/luotettavakumppani.svg" class="logo" />
      <img alt="Yrittäjät jäsenyritys" src="assets/img/sy_jasenyritys_fi.png" class="logo" />
    </div>
  </footer>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="assets/js/scripts.js"></script>


  <script type="text/javascript">
  function validateForm() {
    var email = document.forms["myForm"]["InputEmail"].value;
    var password = document.forms["myForm"]["InputPassword"].value;
    if (email == "") {
      alert("Please enter your email address");
      return false;
    }
    if (password == "") {
      alert("Please enter your password");
      return false;
    }
  }

  $(document).ready(function(){
    $(".revealer").on("change", function(){
      
      var targetID = $(this).attr("target-id");

      if($(this).find(":selected").hasClass("reveal")){
        $("#" + targetID).show("fast");
      }

      else{
        $("#" + targetID).hide("fast");
      }

    });
  });
</script>

<!--
<script type="text/javascript">
  https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js
</script>
<script type="text/javascript">
  $(document).ready(function () {
    $("myForm").validate({
      rules: {
        email:{required: true, email: true},
        password:{required: true, minlength: 5}
      },
      messages: {
        email:{required: "Email address is required"},
        password:{required: "Password is required"}
      }
      }
    });
  });
</script> -->

</body>
</html>
