@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i');
/* Typography *//* Colors */* {
  color: #2d2926;
}
body {
  background-color: #f9f9f9;
}
/* Parts */header {
  background-color: #2d2926;
  padding: 0.5em;
}
header .btn {
  border: 0 !important;
}
header .btn.login {
  background-color: #f33;
  color: #f9f9f9;
}
.links {
  padding-top: 20vh;
}
.links .logo {
  max-width: 15em;
  margin-top: -2em;
}
.banner {
  background-color: gray;
  padding: 0 0 2em 0;
  margin-top: 1em;
  background-size: cover;
  min-height: 20em;
  margin-bottom: 2em;
}
.banner h1 {
  color: #f9f9f9;
  text-shadow: 1px 1px 10px #2d2926;
  margin-top: 3em;
}
.banner h3 {
  font-size: 1.5em;
  margin-bottom: 1em;
}
.banner .logo {
  max-width: 25em;
  margin: 2em 0;
}
.banner .btn {
  margin-bottom: 0.5em;
}
.banner .btn-group {
  margin-bottom: 1em;
}
.main {
  padding: 3em 0 3em 0;
}
.divider {
  margin-bottom: 2em;
}
.divider.line {
  border-top: 1px solid #c8c2bd;
  padding-top: 1em;
}
.featured {
  background-color: #e8e8e8;
  padding: 1em;
}
.featured h3 {
  margin-bottom: 1em;
}
.featured .btn {
  margin-top: 0.8em;
}
.featured .panel {
  padding: 2em 0 1em 0;
  min-height: 15em;
}
.featured .panel img {
  width: 6em;
  border-radius: 6em;
  margin-bottom: 1em;
}
footer {
  background-color: #2d2926;
  padding: 3em;
}
footer .logo {
  height: 5em;
}
footer .container {
  color: #fff;
}
/* Titles and typograhy */h1, h2, h3 {
  font-family: ;
  font-weight: 700;
}
h1 a, h2 a, h3 a, h1 a:hover, h2 a:hover, h3 a:hover {
  color: #2d2926;
  text-decoration: none;
}
h2 {
  margin-top: 0;
  margin-bottom: 1em;
}
a, a:hover, a i {
  color: #f33;
  text-decoration: none;
}
p {
  font-family: "Work Sans", helvetica, arial;
  font-weight: 400;
  line-height: 2em;
}
.ingress {
  margin-bottom: 3em;
  text-align: center;
}
.ingress p {
  font-size: 1.3em;
}
.large {
  font-size: 1.3em;
}
/* Forms */form {
  margin-bottom: 2em;
}
/* Tables */table tr td {
  background: #e6e6e6;
}
table tr th {
  text-transform: uppercase;
  background: #cdcdcd;
}
table .labels th {
  background: gray;
  color: #f9f9f9;
}
/* Components */.panel {
  background: #e5e1e6;
}
.panel.shadow {
  box-shadow: 0 0 1em rgba(45, 41, 38, 0.5);
}
.popover {
  background: #fff;
}
.popover.bottom > .arrow:after {
  border-bottom-color: #fff;
}
.btn, .nav-pills > li > a {
  border-radius: 6px;
}
.btn.active, .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #f33;
  border: 0;
  color: #f9f9f9;
}
.btn.active small, .nav-pills > li.active > a small, .nav-pills > li.active > a:hover small, .nav-pills > li.active > a:focus small {
  color: #f9f9f9;
}
.spacing.top {
  margin-top: 1em;
}
.spacing.bottom {
  margin-bottom: 1em;
}
.nomargin {
  margin: 0;
}
.circle-border {
  display: block;
  border: 3px solid #2d2926;
  text-align: center;
  border-radius: 50%;
  font-size: 1.7em;
  display: inline-block;
  padding-left: 0.425em;
  padding-right: 0.425em;
  padding-top: 0.17em;
  padding-bottom: 0.17em;
}
img.circle {
  border-radius: 50%;
}
