<section class="container-fluid banner" style="background-image: url('/assets/img/asukkaille.jpg');background-position: center 80%;">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Asukkaille</h1>
      </div>
    </div>
</section>
<section class="container main">
    <div class="row">
            <div class="col-md-3">
                <h4>Palvelut asukkaille</h4>
                <div class="btn-group-vertical float-menu">
                    <a href="#muuttoilmoitukset" class="btn btn-default">Muuttoilmoitukset</a>
                    <a href="#ovenavaus" class="btn btn-default">Oven avaukset</a>
                    <a href="#ongelmat" class="btn btn-default">Vikailmoitukset</a>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row divider">
                    <div class="col-md-12">
                        <h2><a name="muuttoilmoitukset">Näin teet muuttoilmoituksen</a></h2>
                        <div class="row divider line">
                            <div class="col-md-1"><h3 class="nomargin circle-border">1</h3></div>
                            <div class="col-md-7">
                                <p>Täytä sähköinen tuloilmoitus taloyhtiölle. Ilmoitus tallentuu sähköiseen talonkirjaamme. Voit samalla tehdä mahdolliset vikailmoitukset.</p>
                            </div>
                            <div class="col-md-2">
                                <a type="button" class="btn btn-success" href="/lomake/muuttoilmoitus">Tee tuloilmoitus</a>
                            </div>
                        </div>
                        <div class="row divider line">
                            <div class="col-md-1"><h3 class="nomargin circle-border">2</h3></div>
                            <div class="col-md-7">
                                <p>
                        Muuttaessasi pois talosta, täytä sama kaavake mutta valitse Lähtöilmoitus.</p>
                            </div>
                            <div class="col-md-2">
                                <a type="button" class="btn btn-success" href="/lomake/muuttoilmoitus">
                                    Tee lähtöilmoitus
                                </a>
                            </div>
                        </div>
                        <div class="row divider line">
                            <div class="col-md-1"><h3 class="nomargin circle-border">3</h3></div>
                            <div class="col-md-7">
                                <p>Muista myös täyttää ilmoitus osoitteenmuutoksesta Postin sivulta. Pääset lomakkeeseen <a href="https://www.posti.fi/muuttoilmoitus/" target="_window">tästä</a>. Tällöin tieto päivittyy myös eri viranomaisille ja postisi saapuu oikeaan paikkaan.</p>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-2"></div>
                        </div>
                        <hr />
                        <div class="row small">
                                <div class="col-md-1"><h3 class="nomargin"><i class="fa fa-info-circle" aria-hidden="true"></i></h3></div>
                                <div class="col-md-9">
                                    <p>Mikäli sinulle tulee tarvetta muuttaa tietojasi asumisesi aikana, voit täyttää saman kaavakkeen ja päivitämme tietosi talonkirjaan. Muutoksia voivat olla esimerkiksi nimenvaihdokset, perheenlisäykset tai kumppanin kanssa yhteenmuutto.</p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="row divider line">
                    <div class="col-md-12">
                        <h2><a name="ovenavaus">Avaimet hukassa? Toimi näin!</a></h2>
                        <div class="row">
                            <div class="col-md-6">
                                <p>Mikäli olet hukannut kotiavaimesi ja jäänyt lukkojen taakse, soita päivystäjällemme. Palvelunumero on toiminnassa ympäri vuorokauden kaikkina viikonpäivinä.</p>
                                <h4>Ovenavauksen hinnat</h4>
                                    <table class="table">
                                        <thead>
                                            <tr class="labels">
                                                <th>Viikonpäivä</th>
                                                <th>klo 7-16</th>
                                                <th>Iltaisin ja öisin</th>
                                                <th>Laskutettuna</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">Ma-pe</th>
                                                <td>10 eur</td>
                                                <td>40 eur</td>
                                                <td>+ 5 eur</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Muina aikoina</th>
                                                <td>40 eur</td>
                                                <td>40 eur</td>
                                                <td>+ 5 eur</td>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
                            <div class="col-md-3">
                                    <a type="button" class="btn btn-default btn-lg active spacing bottom" href="tel:+358400789659">
                                            Soita arkisin klo 7-16<br />
                                            <small>+358400789659</small>
                                    </a>
                                    
                                    <a type="button" class="btn btn-default btn-lg active" href="tel:+35822846999">
                                        Soita muina aikoina<br />
                                        <small>+35822846999</small>
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row divider line">
                    <div class="col-md-12">
                        <h2><a name="ongelmat">Huomasitko vikoja tai ongelmia?</a></h2>
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    Voit ilmoittaa oheisella lomakkeella asunnossasi tai muualla kiinteistössä olevista vioista tai huollon tarpeesta suoraan huollon tietojärjestelmään.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <a type="button" class="btn btn-default btn-lg active spacing bottom" href="/lomake/vikailmoitus">Lähetä vikailmoitus</a><br>
                                <a type="button" class="btn btn-default btn-lg" href="tel:+358400789659">Soita huoltoon</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>