  <section class="container-flex banner" style="background-image: url('/assets/img/etusivu-3.jpg');background-position: left bottom;">
        <div class="row text-center divider">
          <h1>Kiinteistöhoito Juhala</h1>
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-4 text-center">
            <div class="panel panel-default shadow">
              <h3>Talojen<br/>asukkaille</h3>
              <div class="btn-group btn-group-vertical">
                <a class="btn btn-default" type="button" href="/asukkaille#muuttoilmoitukset">Tee muuttoilmoitus</a>
                <a class="btn btn-default" type="button" href="/lomake/vikailmoitus/">Lähetä vikailmoitus</a>
                <a class="btn btn-default" type="button" href="/asukkaille#ovenavaus">Pyydä ovenavaus</a>
              </div>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="panel panel-default shadow">
              <h3 class="text-center">Taloyhtiöille ja<br/>isännöitsijöille</h3>
              <div class="btn-group btn-group-vertical">
                <a class="btn btn-default" type="button" href="/login">Kirjaudu sisään</a>
                <a class="btn btn-default" type="button" href="/kontakti">Ota yhteyttä</a>
                <a class="btn btn-default" type="button" href="/kontakti">Pyydä tarjous</a>
              </div>
            </div>
          </div>
        </div>
  </section>

  <section class="container main">
    <div class="row">
      <div class="col-md-5">
        <img alt="" src="/assets/img/etusivu-2.jpg" />
      </div>
      <div class="col-md-7">
        <h2> Aidosti palvelevaa kiinteistöhuoltoa Turussa
        </h2>
        <p>
          Olipa tarpeesi pieni tai suuri, asiantuntevat kiinteistöhuollon ja kiinteistöhoidon ammattilaisemme auttavat sinua Turun seudulla.
        </p>
      </div>
    </div>
  </section>

  <section class="featured">
    <div class="container">
    <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-9">
            <h3>Kiinteistöhoidon palvelut</h3>
        </div>
        <div class="col-md-3 text-right">
          <a type="button" class="btn active btn-primary btn-default" href="/kontakti#lomake">Pyydä tarjous</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="panel panel-default text-center">
            <img src="/assets/img/palvelut-1.jpg" />
            <h4 class="text-center"><a href="/palvelut#ulkoalueet">Ulkoalueiden kunnossapito</a></h4>
          </div>
        </div>
        <div class="col-md-3 blurb">
          <div class="panel panel-default text-center">
            <img src="/assets/img/palvelut-2.jpg" />
            <h4 class="text-center"><a href="/palvelut#paivystys">24/7 päivystyspalvelu</a></h4>
          </div>
        </div>
        <div class="col-md-3 blurb">
          <div class="panel panel-default text-center">
            <img src="/assets/img/palvelut-3.jpg" />
            <h4 class="text-center"><a href="/palvelut#pihanrakennus">Pihanrakennustyöt</a></h4>
          </div>
        </div>
        <div class="col-md-3 blurb">
          <div class="panel panel-default text-center">
            <img src="/assets/img/palvelut-4.jpg" />
            <h4 class="text-center"><a href="/palvelut#sahkoiset">Sähköinen työnhjaus- ja asukasluettelo</a></h4>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>