<section class="container-fluid banner" style="background-image: url('/assets/img/kontakti.jpg');background-position: left 20%;">
	<div class="row">
		  <div class="col-md-12">
			  <h1 class="text-center">Ota yhteyttä</h1>
		  </div>
				</div>
</section>
<section class="container main">
		<div class="row">
				<div class="col-md-12">
					<h2>
						Tiimi
					</h2>
					<div class="row">
						<div class="col-md-12">
							<div class="row divider">
								<div class="col-md-2">
									<img src="/assets/img/petri.jpg" />
								</div>
								<div class="col-md-4">
								  <h4>Petri Juhala</h4><br />
								  <a href="tel:+358400789659"><i class="fa fa-phone-square" aria-hidden="true"></i> 0400 789 659</a><br />
								  <a href="mailto:petri@kh-juhala.fi"><i class="fa fa-envelope" aria-hidden="true"></i> petri@kh-juhala.fi</a>
								</div>
								<div class="col-md-2">
									<img src="/assets/img/jarno.jpg" />
								</div>
								<div class="col-md-4">
								  <h4>Jarno Juhala</h4><br />
								  <a href="tel:+358445915678"><i class="fa fa-phone-square" aria-hidden="true"></i> 044 591 5678</a><br />
								  <a href="mailto:jarno@kh-juhala.fi"><i class="fa fa-envelope" aria-hidden="true"></i> jarno@kh-juhala.fi</a>
								</div>
							</div>
						</div>
					</div>
					<div class="row divider">
					  <div class="col-md-2">
						  <img src="/assets/img/kati.jpg" />
					  </div>
					  <div class="col-md-4">
						<h4>Kati M.</h4><br />
						<a href="tel:+358400389521" class=""><i class="fa fa-phone-square" aria-hidden="true"></i> +358 400 389 521</a><br />
						<a href="mailto:kati@kh-juhala.fi"><i class="fa fa-envelope" aria-hidden="true"></i> kati@kh-juhala.fi</a>
					  </div>
					  <div class="col-md-2">
						  <img src="/assets/img/sami.jpg" />
					  </div>
					  <div class="col-md-4">
						<h4>Sami L.</h4><br />
						<a href="tel:+358400535070" class=""><i class="fa fa-phone-square" aria-hidden="true"></i> +358 400 535 070</a><br />
						<a href="mailto:sami@kh-juhala.fi"><i class="fa fa-envelope" aria-hidden="true"></i> sami@kh-juhala.fi</a>
					  </div>
					</div>
				</div>
			</div>
			<div class="row hidden">
				<div class="col-md-12">
					<h3 class="spacing bottom">
						Kentällä apunasi
					</h3>
					<div class="row divider">
						<div class="col-md-2 text-center">
							<img src="http://via.placeholder.com/100x100/" class="spacing bottom circle" /><br />
							<strong>Etunimi Sukunimi</strong><br />
						  040 12345678
						</div>
						<div class="col-md-2 text-center">
							  <img src="http://via.placeholder.com/100x100/" class="spacing bottom circle" /><br />
							  <strong>Etunimi Sukunimi</strong><br />
							040 12345678
					  </div>
					  <div class="col-md-2 text-center">
						  <img src="http://via.placeholder.com/100x100/" class="spacing bottom circle" /><br />
						  <strong>Etunimi Sukunimi</strong><br />
						  040 12345678
					  </div>
					  <div class="col-md-2 text-center">
						  <img src="http://via.placeholder.com/100x100/" class="spacing bottom circle" /><br />
						  <strong>Etunimi Sukunimi</strong><br />
						  040 12345678
					  </div>
					  <div class="col-md-2 text-center">
							  <img src="http://via.placeholder.com/100x100/" class="spacing bottom circle" /><br />
							  <strong>Etunimi Sukunimi</strong><br />
							  040 12345678
					  </div>
					  <div class="col-md-2 text-center">
						  <img src="http://via.placeholder.com/100x100/" class="spacing bottom circle" /><br />
						  <strong>Etunimi Sukunimi</strong><br />
						  040 12345678
					  </div>
					</div>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-md-12">
					<h2><a name="lomake">Lähetä viestiä tai tule käymään</a></h2>
				</div>
			</div>
            <div class="row">
          		<div class="col-md-6">
								<div class="alert alert-info alert-dismissable">
									<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
									Pahoittelut, lomake on tällä hetkellä poissa käytöstä.
								</div>
          			<form name="myForm" role="form" data-toggle="validator" onsubmit="return validateForm()" method="get" action="index.html" name="Submit">
						<div class="form-group">
							<label for="InputSubject">
								Aihe
							</label>
							<select class="form-control revealer" id="InputSubject" name="InputSubject" target-id="InputSubjectOther" required disabled="disabled">
								<option>Tarjouspyyntö</option>
								<option>Vikailmoitus</option>
								<option class="reveal">Muu</option>
							</select>
							<input type="text" class="form-control spacing top" id="InputSubjectOther" name="InputSubjectOther" style="display: none;" placeholder="Kirjoita aihe tähän" disabled="disabled" />
							<div class="help-block with-errors"></div>
						</div> 
						<div class="form-group">
								<label for="InputName">
									Nimi *
								</label>
								<input type="text" class="form-control" id="InputName" name="InputName" required disabled="disabled" />
								<div class="help-block with-errors"></div>
						</div>  
						<div class="form-group">
          					<label for="InputEmail">
          						Sähköpostiosoite *
          					</label>
          					<input type="email" class="form-control" id="InputEmail" name="InputEmail" required disabled="disabled" />
                    		<div class="help-block with-errors"></div>
						</div>
						<div class="form-group">
							<label for="InputPhone">
								Puhelinnumero *
							</label>
							<input type="phone" class="form-control" id="InputPhone" name="InputPhone" required disabled="disabled" />
						  <div class="help-block with-errors"></div>
					  	</div>
						<div class="form-group">
							<label for="InputAddress">
								Osoite
							</label>
							<input type="address" class="form-control" id="InputAdress" name="InputAddress" disabled="disabled" />
						  <div class="help-block with-errors"></div>
					  	</div>
						<div class="form-group">
							<label for="InputMessage">
								Viesti *
							</label>
							<textarea class="form-control" id="InputMessage" name="InputMessage" required disabled="disabled"></textarea>
							<div class="help-block with-errors"></div>
						</div>
          				<input type="submit" class="btn btn-default" value="Submit" disabled="disabled" value="Lähetä">
          			</form>
				  </div>
				  <div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="nomargin">Kiinteistöhoito Juhala Oy</h3>
							<address class="spacing top">
								Itäinen pitkäkatu 34<br/>
								20700 Turku<br/>
								<br/>
								<tel class="large spacing bottom"><a href="tel:+358400789659"><i class="fa fa-phone-square" aria-hidden="true"></i> 0400 789 659</a></tel><br/>
								<email class="large"><a href="email:info@kh-juhala.fi"><i class="fa fa-envelope" aria-hidden="true"></i> info@kh-juhala.fi</a></email>
							</address>
						</div>
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1968.0244899057516!2d22.276895315993578!3d60.4448112281266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x468c76e3bb2a2dfd%3A0xae1e81ed3df33280!2sIt%C3%A4inen+Pitk%C3%A4katu+34%2C+20700+Turku!5e0!3m2!1sen!2sfi!4v1509052415777" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</div>
          	</div>
</section>
<section class="container-fluid">
              <div class="row">
                <div class="col-md-12">
					
                </div>
              </div>
              </div>
</section>