<section class="container-fluid banner" style="background-image: url('/assets/img/palvelut.jpg');background-position: center 70%;">
            <div class="row">
          		<div class="col-md-12">
          			<h1 class="text-center">Palvelut</h1>
          		</div>
						</div>
</section>
<section class="container main">
		<div class="row divider">
			<div class="col-md-10 col-md-offset-1">
				<div class="ingress">
					<p>Kiinteistöhoito Juhala Oy tarjoaa kokonaisvaltaista kiinteistöhuoltoa mutkattomasti ja asiakasta kunnioittaen. Palvelumme kattaa kaikki kiinteistöihin liittyvät palvelut ulkoalueiden hoidosta tekniseen kiinteistönhoitoon, ympärivuorokautiseen päivystykseen sekä liputuksiin.</p>
					<p>Hoidamme työt ripeästi ja ammattitaidolla. Kaupanpäällisenä saat ystävällisen ja henkilökohtaisen palvelun. Ota yhteyttä ja kysy lisää, palvelemme mielellämme.</p>
				</div>
			</div>
		</div>
          	<div class="row">
          		<div class="col-md-12">
          			<div class="row divider">
          				<div class="col-md-3">
          					<img src="/assets/img/palvelut-1.jpg" />
          				</div>
          				<div class="col-md-9">
          					<h2>
								  <a name="ulkoalueet">Ulkoalueiden kunnossapito</a>
							</h2>
          					<p>
									Viheralueet kaipaavat jatkuvaa huolenpitoa ja toisinaan suurempiakin muutostöitä. Hoidamme kuntoon nurmikot, puunkaadot, pensaiden harvennukset, istutukset, pihakivetykset ja mitä ikinä puutarhasi tai pihasi kaipaakin.
									Kauttamme järjestyvät mm. pihasuunnitelmat, istutukset sekä puiden ja pensaiden leikkaukset puutarhuripalveluna.
							</p>
							<p>
									Palvelemme taloyhtiöitä ja liike- ja teollisuuskiinteistöasiakkaita, sekä kaikkia jotka arvostavat suoraa ja palvelevaa toimittaja-asiakassuhdetta. Sopimukset laaditaan aina asiakaslähtöisesti tarpeiden ja toiveiden mukaan.
          					</p>
          				</div>
          			</div>
          			<div class="row divider">
          				<div class="col-md-3">
          					<img src="/assets/img/palvelut-2.jpg" />
          				</div>
          				<div class="col-md-9">
          					<h2>
          						<a name="paivystys">24/7 päivystyspalvelu</a>
          					</h2>
          					<p>
          						Avaimet hukassa? Akuutteja ongelmia talotekniikan kanssa? Kauttamme saat ympärivuorokautiset päivystyspalvelut taloyhtiöllenne.
          					</p>
          				</div>
          			</div>
          			<div class="row divider">
          				<div class="col-md-3">
          					<img src="/assets/img/palvelut-3.jpg" />
          				</div>
          				<div class="col-md-9">
          					<h2>
          						<a name="pihanrakennus">Pihanrakennustyöt</a>
          					</h2>
          					<p>
								Teemme pienimuotoisia maanrakennustöitä, pienrakentamis- ja remonttitöitä sekä viheralueiden muokkauksia. Tarvitsetpa sitten uudet salaojat, sadevesiviemärit, pihakivetyksen tai terassin perustuksen, toimitamme edellä mainitut työt ja paljon muuta myös avaimet käteen -periaatteella.
							</p>
							<p>
								Työt suunnitellaan yhdessä asiakkaan kanssa tarpeiden mukaan. Hyvä ennakkosuunnitelma, ripeä ja ammattitaitoinen toimitus sekä reilu yhteispeli ovat ne asiat, joilla saadaan hommat kuntoon ja päästään kaikkia palvelevaan lopputulokseen.
          					</p>
          				</div>
          			</div>
          			<div class="row divider">
          				<div class="col-md-3">
          					<img src="/assets/img/palvelut-4.jpg" />
          				</div>
          				<div class="col-md-9">
          					<h2>
          						<a name="sahkoiset">Sähköinen työnohjaus ja asukasluettelo</a>
          					</h2>
          					<p>
								  Olemme tehostaneet toimintaamme hyödyntämällä sähköistä työnohjausjärjestelmää. Asukkaat ja taloyhtiöt voivat järjestelmämme kautta lähettää muunmuassa muutto- ja muutosilmoituksia, vikailmoituksia sekä tehdä muita taloyhtiön arkeen kuuluvia toimia - järjestelmän kautta ilmoitukset saadaan kätevästi kirjattua ja niiden etenemistä seurattua.
							</p>
							<p>  
								  Järjestelmämme kautta ylläpidetään myös sähköistä talonkirjaa, jolloin kaikki toimet pysyvät varmasti tallessa sekä tarvittaessa helposti haettavissa.
          					</p>
          				</div>
          			</div>
          		</div>
			  </div>
</section>