<section class="container-fluid banner" style="background-image: url('/assets/img/taloyhtiolle.jpg');background-position: center center;">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Taloyhtiölle</h1>
    </div>
  </div>
</section>

<section class="container main">
          		<div class="row">
								<div class="col-md-8">
									<h2>
										Avullamme saat taloyhtiön arjen sujumaa
									</h2>
									<p>
											Kiinteistöhoito Juhala Oy tarjoaa kokonaisvaltaista kiinteistöhuoltoa mutkattomasti ja asiakasta kunnioittaen. Palvelumme kattaa kaikki kiinteistöihin liittyvät palvelut ulkoalueiden hoidosta tekniseen kiinteistönhoitoon, ympärivuorokautiseen päivystykseen sekä liputuksiin.
									</p>
									<p>
											Teemme asiakkaillemme myös pienimuotoisia maanrakennustöitä, pienrakentamis- ja remonttitöitä sekä viheralueiden muokkauksia. Kauttamme järjestyy myös puutarhuripalveluja. Palvelemme taloyhtiöitä ja liike- ja teollisuuskiinteistöasiakkaita, sekä kaikkia jotka arvostavat suoraa ja palvelevaa toimittaja-asiakassuhdetta.
									</p>
									<p>
											Sopimukset laaditaan aina asiakaslähtöisesti tarpeiden ja toiveiden mukaan.
											Hoidamme työt ripeästi ja ammattitaidolla. Kaupanpäällisenä saat ystävällisen ja henkilökohtaisen palvelun.
											Ota yhteyttä ja kysy lisää, palvelemme mielellämme.
									</p>
								</div>
								<div class="col-md-4">
									<a type="button" class="btn btn-primary btn-lg" href="/kontakti#lomake">
										Pyydä tarjous
									</a>
								</div>
          		</div>
</section>

<section class="container main hidden">
          	<div class="row">
          		<div class="col-md-12">
                <h2>
                  Referenssikohteita
								</h2>
							</div>
						</div>
						<div class="row divider">
							<div class="col-md-12">
          			<div class="carousel slide" id="carousel"  data-ride="carousel">
          				<ol class="carousel-indicators">
          					<li class="active" data-slide-to="0" data-target="#carousel">
          					</li>
          					<li data-slide-to="1" data-target="#carousel">
          					</li>
          					<li data-slide-to="2" data-target="#carousel">
          					</li>
          				</ol>
          				<div class="carousel-inner">
          					<div class="item active">
          						<img alt="Carousel Bootstrap 1" src="http://via.placeholder.com/1600x500" />
          						<div class="carousel-caption">
          						</div>
          					</div>
          					<div class="item">
          						<img alt="Carousel Bootstrap 2" src="http://via.placeholder.com/1600x500" />
          						<div class="carousel-caption">
          						</div>
          					</div>
          					<div class="item">
          						<img alt="Carousel Bootstrap 3" src="http://via.placeholder.com/1600x500" />
          						<div class="carousel-caption">
          						</div>
          					</div>
          				</div> <a class="left carousel-control" href="#carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
          			</div>
          		</div>
            </div>
</section>