@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i');

/* Typography */

$titles: "Work Sans", helvetica, arial;
$content: "Work Sans", helvetica, arial;

/* Colors */

$black: #2D2926;
$white: #F9F9F9;
$gray: gray;
$orange: #FF3333;

*{
    color: $black;
}

body{
    background-color: $white;
}

/* Parts */

header{
    background-color: $black;
    padding: .5em;

    .btn{
        border: 0 !important;
    }

    .btn.login{
        background-color: $orange;
        color: $white;
    }
}

.links{
    padding-top: 20vh;
    
    .logo{
        max-width: 15em;
        margin-top: -2em;
    }
}

.banner{
    background-color: $gray;
    padding: 0 0 2em 0;
    margin-top: 1em;
    background-size: cover;
    min-height: 20em;
    margin-bottom: 2em;
    

    h1{
        color: $white;
        text-shadow: 1px 1px 10px rgba($black, 1);
        margin-top: 3em;
    }

    h3{
        font-size: 1.5em;
        margin-bottom: 1em;
    }

    .logo{
        max-width: 25em;
        margin: 2em 0
    }

    .btn{
        margin-bottom: .5em;
    }

    .btn-group{
        margin-bottom: 1em;
    }

}

.main{
    padding: 3em 0 3em 0;
}

.divider{
    margin-bottom: 2em;
}

.divider.line{
    border-top: 1px solid lighten($black, .6);
    padding-top: 1em;
}

.featured{
    background-color: #E8E8E8;
    padding: 1em;

    h3{
        margin-bottom: 1em;
    }

    .btn{
        margin-top: .8em;
    }

    .panel{
        padding: 2em 0 1em 0;
        min-height: 15em;

        img{
            width: 6em;
            border-radius: 6em;
            margin-bottom: 1em;
        }

    }

}

footer{
    background-color: #2D2926;
    padding: 3em;

    .logo{
        height: 5em;
    }

    .container{
        color: #fff;
    }
}

/* Titles and typograhy */

h1, h2, h3{
    font-family: $main;
    font-weight: 700;

    a, a:hover{
        color: $black;
        text-decoration: none;
    }
}

h2{
    margin-top: 0;
    margin-bottom: 1em;
}

a, a:hover, a i{
    color: $orange;
    text-decoration: none;
}

p{
    font-family: $content;
    font-weight: 400;
    line-height: 2em;
}

.ingress{

    margin-bottom: 3em;
    text-align: center;

    p{
    font-size: 1.3em;
    }
}

.large{
    font-size: 1.3em;
}

/* Forms */

form{
    margin-bottom: 2em;
}

/* Tables */

table{

    tr{

        td{
            background: lighten($gray, .4);
        }

        th{
            text-transform: uppercase;
            background: lighten($gray, .3);
        }

    }

    .labels{
        th{
            background: $gray;
            color: $white;
        }
    }
}

/* Components */

.panel{
    background: #E5E1E6;
}

.panel.shadow{
    box-shadow: 0 0 1em rgba($black, 0.5);
}

.popover{
    background: #fff;
}

.popover.bottom>.arrow:after{
    border-bottom-color: #fff;
}

.btn, .nav-pills>li>a{
    border-radius: 6px;
}

.btn.active, .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
    background-color: $orange;
    border: 0;
    color: $white;

    small{
        color: $white;
    }
}

.spacing.top{
    margin-top: 1em;
}

.spacing.bottom{
    margin-bottom: 1em;
}

.nomargin{
    margin: 0;
}

.circle-border{
    $circle-size: 1.7em;

    display: block;
    border: 3px solid $black;
    text-align: center;
    border-radius: 50%;
    font-size: $circle-size;
    display: inline-block;
    padding-left: $circle-size * .25;
    padding-right: $circle-size * .25;
    padding-top: $circle-size * .10;
    padding-bottom: $circle-size * .10;
}

img.circle{
    border-radius: 50%;
}